.producto {
    position: relative;
}
.item_producto {
    display: flex;
    padding: 10px;
}

.producto_img {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    object-fit: cover;
}

.producto__nombre {
    font-weight: 500;
    margin-bottom: 5px;
}