.formStyle { 
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    margin: 0 auto; 
    gap: 16px;
    background-color: var(--color-surface);
}
.formStyle h3 {
  margin-bottom: 20px;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formGroup label {
  margin-bottom: 5px;
  font-weight: 500;
}

.formGroup input,
.formGroup textarea,
.formGroup select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  font-size: 14px;
}

.formGroup input:focus,
.formGroup textarea:focus,
.formGroup select:focus {
  outline: none;
  border-color: var(--color-primary);
}

.formStyle button {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 6px;

  background-color: var(--color-primary);
  color: white;
  font-size: 16px;

  cursor: pointer;
  transition: background 0.2s;
}

.formStyle button:hover {
  background-color: var(--color-primary-hover);
}
input, textarea, select {
    background-color: var(--color-bg);
    color: var(--color-text);
}