.footer {
    background-color: var(--color-bg-alt);
    color: var(--color-text-alt);
}

.footerContent {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footerTitle {
  color: var(--color-text-alt);
  margin-bottom: 15px;
}

.companyInfo, .storeLinks, .socialLinks {
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.companyInfo, .storeLinks, .socialLinks p {
    line-height: 1.7;
}

.copy {
    background-color: var(--color-surface);
    color: var(--color-text);
    text-align: center;
    padding: 30px;
}

@media (min-width: 768px) {
    .footerContent {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}