.listaProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    justify-items: center;
}
.headerProductos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.headerProductos__titulo {
    font-size: 1.5rem;
    padding: 10px;
}
.noResults {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
