.listaProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    justify-items: center;
}

.listaProductos li {
    list-style: none;
}